<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Epicreads</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/skins/skin-demo-20.css">
    <link rel="stylesheet" href="assets/css/demos/demo-20.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css"> 
    <link rel="stylesheet" href="assets/css/plugins/nouislider/nouislider.css">
</head>

<body>
    <div class="page-wrapper">
        <header class="header header-12">
            <div class="header-top">
                <div class="container">
                    <div class="header-right">
                        <ul class="top-menu">
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->

                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo">
                            <img src="/assets/images/changed color.png" alt="Logo" width="80" height="Auto">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search header-search-extended header-search-visible header-search-no-radius">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="/search" method="get" id="searchForm">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..."
                                        required onkeyup="fetchSuggestions(this.value)">
                        
                                    <button class="btn search-button" type="submit"><i class="icon-search"></i></button>
                        
                                    <!-- Suggestions Dropdown -->
                                    <div id="suggestions" class="suggestions-dropdown"></div>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->

                        <div class="header-dropdown-link">
                            <div class="account">
                                <% if (locals.user) { %>
                                <a href="/userProfile" title="My account">
                                    <div class="icon">
                                        <i class="icon-user"></i>
                                    </div>
                                    <p><%= locals.user.name %></p>
                                </a>
                                <% } %>
                            </div><!-- End .compare-dropdown -->

                            <div class="wishlist">
                                <a href="wishlist.html" title="Wishlist" class="text-decoration-none">
                                    <div class="icon">
                                        <i class="icon-heart-o"></i>
                                        <span class="wishlist-count badge">3</span>
                                    </div>
                                    <p>Wishlist</p>
                                </a>
                            </div><!-- End .compare-dropdown -->

                            <div class="dropdown cart-dropdown">
                                <a href="/cart" class="dropdown-toggle">
                                    <div class="icon">
                                        <i class="icon-shopping-cart"></i>
                                        <span class="cart-count">2</span>
                                    </div>
                                    <p>Cart</p>
                                </a>

                            </div><!-- End .cart-dropdown -->
                        </div>
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div style="background-color: #333; display: flex; width: 100%;">
                        <div class="header-left">
                            <div class="dropdown category-dropdown">
                                <a href="#" class="dropdown-toggle text-decoration-none" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" data-display="static"
                                    title="Browse Categories">
                                    Browse Categories
                                </a>

                                <div class="dropdown-menu">
                                    <nav class="side-nav">
                                        <ul class="menu-vertical sf-arrows">
                                            <% for(let data of category){ %>
                                            <li><a href="#" ><%= data.name %></a></li>
                                            <% } %>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>

                        <div class="header-center">

                            <nav class="main-nav">
                                <ul class="menu sf-arrows">
                                    <li class="megamenu-container ">
                                        <a href="/">Home</a>
                                    </li>
                                    <li>
                                        <a href="/shop">Shop</a>
                                    </li>
                                    <li>
                                        <a href="#">BEST SELLERS</a>
                                    </li>
                                    <li>
                                        <a href="blog.html">New arrivals</a>
                                    </li>
                                </ul><!-- End .menu -->
                            </nav><!-- End .main-nav -->
                        </div>

                        <div class="header-right px-5">
                            <% if (locals.user) { %>
                                <a href="/logout" class="text-decoration-none btn text-light fs-4 fw-bolder ps-5 ms-5">Logout</a>
                            <% }else{ %>
                            <a href="/login" id="auth-link" style="position:relative;left: 25px;" class="text-decoration-none btn text-light fs-4 fw-bolder ps-5">Sign in / Sign up</a>
                            <% } %>
                        </div><!-- End .header-right -->
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->
        <style>
        .search-button {
        background-color: #1CC0A0;
        border: none; 
        color: white; 
        }

        .search-button:hover {
        background-color: #17a589;
        }
        </style>
    <style>
        .suggestions-dropdown {
            position: absolute;
            background: white;
            width: 100%;
            z-index: 1000;
            max-height: 200px;
            overflow-y: auto;
        }
        
        .suggestions-dropdown a {
            display: block;
            padding: 10px;
            cursor: pointer;
            text-decoration: none;
            color: black;
        }
        
        .suggestions-dropdown a:hover {
            background-color: #f0f0f0;
        }
    </style>
    <script>
        document.getElementById('q').addEventListener('input', function() {
            const query = this.value;
            if (query.length > 2) {
                fetch(`/search-suggestions?q=${query}`)
                    .then(response => response.json())
                    .then(data => {
                        const suggestionsBox = document.getElementById('suggestions');
                        suggestionsBox.innerHTML = '';
                        if (data.length > 0) {
                            data.forEach(product => {
                                const suggestionItem = document.createElement('a');
                                suggestionItem.href = `/productPage?id=${product._id}`;
                                suggestionItem.textContent = product.name;
                                suggestionsBox.appendChild(suggestionItem);
                            });
                            suggestionsBox.style.display = 'block';
                        } else {
                            suggestionsBox.style.display = 'none';
                        }
                    });
            } else {
                document.getElementById('suggestions').style.display = 'none';
            }
        });
    
        // Hide suggestions dropdown when clicked outside
        document.addEventListener('click', function(event) {
            const suggestionsBox = document.getElementById('suggestions');
            if (!event.target.closest('.header-search-wrapper')) {
                suggestionsBox.style.display = 'none';
            }
        });
    </script>


        