<%- include("../partials/admin/header.ejs") %>

<section class="content-main my-3">
    <div class="content-header">
        <div>
            <h2 style="display: flex; justify-content: center;">ADMIN DASHBOARD</h2>
        </div>
    </div>
</section>

<%- include("../partials/admin/footer.ejs") %>
