<%- include("../partials/user/header.ejs") %>  
        
        <main class="main">
            <div class="intro-section pt-lg-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="banner banner-big banner-overlay position-relative">
                                <a href="#">
                                    <img src="assets/images/welcomeImage.png" alt="Banner" class="img-fluid">
                                </a>

                                <div class="banner-content d-flex justify-content-center align-items-end position-absolute w-100"
                                    style="bottom: 1px;">
                                    <a href="#" class="btn btn-outline-white-3 banner-link">discover now<i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .intro-section -->


            <div class="bestseller-products bg-light pt-3 pb-5 mb-5">
                <div class="block mb-3">
                    <div class="block-wrapper ">
                        <div class="container">
                            <div class="heading heading-flex">
                                <div class="heading-left">
                                    <h2 class="title">Bestsellers</h2><!-- End .title -->
                                </div><!-- End .heading-left -->

                                <div class="heading-right">
                                    <a href="category.html" class="title-link">View more Products <i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .heading-right -->
                            </div><!-- End .header-flex -->

                            <div class="owl-carousel carousel-equal-height owl-simple" data-toggle="owl"
                                data-owl-options='{
                                    "nav": false, 
                                    "dots": true,
                                    "margin": 20,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":2
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1440": {
                                            "items":5
                                        }
                                    }
                                }'>
                                <div class="product">
                                    <span class="product-label label-sale">Sale</span>
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="assets/images/demos/demo-20/products/product-1.jpg"
                                                alt="Product image" class="product-image">
                                        </a>
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            by <a href="#">Michelle Obama</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">Becoming</a></h3>
                                        <!-- End .product-title -->
                                        <div class="product-price">
                                            <span class="new-price">$19.50</span>
                                            <span class="old-price">Was $32.50</span>
                                        </div><!-- End .product-price -->

                                        <div class="product-footer">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 80%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <span class="ratings-text">( 10 Reviews )</span>
                                            </div><!-- End .rating-container -->
                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                                <a href="#" class="btn-product btn-wishlist"><span>Add to
                                                        Wishlist</span></a>
                                            </div><!-- End .product-action -->
                                        </div><!-- End .product-footer -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->

                                <div class="product">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="assets/images/demos/demo-20/products/product-2.jpg"
                                                alt="Product image" class="product-image">
                                        </a>
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            by <a href="#">Jordan B. Peterson</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">The Secret Barrister: Stories
                                                <br>of the Law and How It's ...</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            $17.34
                                        </div><!-- End .product-price -->

                                        <div class="product-footer">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 100%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <span class="ratings-text">( 7 Reviews )</span>
                                            </div><!-- End .rating-container -->
                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                                <a href="#" class="btn-product btn-wishlist"><span>Add to
                                                        Wishlist</span></a>
                                            </div><!-- End .product-action -->
                                        </div><!-- End .product-footer -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->

                                <div class="product">
                                    <span class="product-label label-sale">Sale</span>
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="assets/images/demos/demo-20/products/product-3.jpg"
                                                alt="Product image" class="product-image">
                                        </a>
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            by <a href="#">Rachael Lippincott</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">Five Feet Apart</a></h3>
                                        <!-- End .product-title -->
                                        <div class="product-price">
                                            <span class="new-price">$14.95</span>
                                            <span class="old-price">Was $18.99</span>
                                        </div><!-- End .product-price -->

                                        <div class="product-footer">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 60%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <span class="ratings-text">( 6 Reviews )</span>
                                            </div><!-- End .rating-container -->
                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                                <a href="#" class="btn-product btn-wishlist"><span>Add to
                                                        Wishlist</span></a>
                                            </div><!-- End .product-action -->
                                        </div><!-- End .product-footer -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->

                                <div class="product">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="assets/images/demos/demo-20/products/product-4.jpg"
                                                alt="Product image" class="product-image">
                                        </a>
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            by <a href="#">Karen M. McManus </a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">One of Us Is Lying</a></h3>
                                        <!-- End .product-title -->
                                        <div class="product-price">
                                            $17.99
                                        </div><!-- End .product-price -->

                                        <div class="product-footer">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 100%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <span class="ratings-text">( 10 Reviews )</span>
                                            </div><!-- End .rating-container -->
                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                                <a href="#" class="btn-product btn-wishlist"><span>Add to
                                                        Wishlist</span></a>
                                            </div><!-- End .product-action -->
                                        </div><!-- End .product-footer -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->

                                <div class="product">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="assets/images/demos/demo-20/products/product-5.jpg"
                                                alt="Product image" class="product-image">
                                        </a>
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            by <a href="#">Matt Haig</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">How to Stop Time</a></h3>
                                        <!-- End .product-title -->
                                        <div class="product-price">
                                            $11.68
                                        </div><!-- End .product-price -->

                                        <div class="product-footer">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 100%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <span class="ratings-text">( 10 Reviews )</span>
                                            </div><!-- End .rating-container -->
                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                                <a href="#" class="btn-product btn-wishlist"><span>Add to
                                                        Wishlist</span></a>
                                            </div><!-- End .product-action -->
                                        </div><!-- End .product-footer -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->

                                <div class="product">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="assets/images/demos/demo-20/products/product-6.jpg"
                                                alt="Product image" class="product-image">
                                        </a>
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            by <a href="#">John Gray</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">The Durrells of Corfu:
                                                Exclusive Edition</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            $24.48
                                        </div><!-- End .product-price -->

                                        <div class="product-footer">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 100%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <span class="ratings-text">( 10 Reviews )</span>
                                            </div><!-- End .rating-container -->
                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                                <a href="#" class="btn-product btn-wishlist"><span>Add to
                                                        Wishlist</span></a>
                                            </div><!-- End .product-action -->
                                        </div><!-- End .product-footer -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .owl-carousel -->
                        </div><!-- End .container -->
                    </div><!-- End .block-wrapper -->
                </div><!-- End .block -->
            </div><!-- End .bg-light pt-4 pb-4 -->

            <div class="bestseller-products bg-light pt-2 pb-5 mb-5">
                <div class="block mb-3">
                    <div class="block-wrapper ">
                        <div class="container">
                            <div class="heading heading-flex">
                                <div class="heading-left">
                                    <h2 class="title">New Arrivals</h2><!-- End .title -->
                                </div><!-- End .heading-left -->

                                <div class="heading-right">
                                    <a href="category.html" class="title-link">View more Products <i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .heading-right -->
                            </div><!-- End .header-flex -->

                            <div class="owl-carousel carousel-equal-height owl-simple" data-toggle="owl"
                                data-owl-options='{
                                    "nav": false, 
                                    "dots": true,
                                    "margin": 20,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":2
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1440": {
                                            "items":5
                                        }
                                    }
                                }'>
                                <div class="product">
                                    <span class="product-label label-sale">Sale</span>
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="assets/images/demos/demo-20/products/product-1.jpg"
                                                alt="Product image" class="product-image">
                                        </a>
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            by <a href="#">Michelle Obama</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">Becoming</a></h3>
                                        <!-- End .product-title -->
                                        <div class="product-price">
                                            <span class="new-price">$19.50</span>
                                            <span class="old-price">Was $32.50</span>
                                        </div><!-- End .product-price -->

                                        <div class="product-footer">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 80%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <span class="ratings-text">( 10 Reviews )</span>
                                            </div><!-- End .rating-container -->
                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                                <a href="#" class="btn-product btn-wishlist"><span>Add to
                                                        Wishlist</span></a>
                                            </div><!-- End .product-action -->
                                        </div><!-- End .product-footer -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->

                                <div class="product">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="assets/images/demos/demo-20/products/product-2.jpg"
                                                alt="Product image" class="product-image">
                                        </a>
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            by <a href="#">Jordan B. Peterson</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">The Secret Barrister: Stories
                                                <br>of the Law and How It's ...</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            $17.34
                                        </div><!-- End .product-price -->

                                        <div class="product-footer">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 100%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <span class="ratings-text">( 7 Reviews )</span>
                                            </div><!-- End .rating-container -->
                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                                <a href="#" class="btn-product btn-wishlist"><span>Add to
                                                        Wishlist</span></a>
                                            </div><!-- End .product-action -->
                                        </div><!-- End .product-footer -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->

                                <div class="product">
                                    <span class="product-label label-sale">Sale</span>
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="assets/images/demos/demo-20/products/product-3.jpg"
                                                alt="Product image" class="product-image">
                                        </a>
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            by <a href="#">Rachael Lippincott</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">Five Feet Apart</a></h3>
                                        <!-- End .product-title -->
                                        <div class="product-price">
                                            <span class="new-price">$14.95</span>
                                            <span class="old-price">Was $18.99</span>
                                        </div><!-- End .product-price -->

                                        <div class="product-footer">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 60%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <span class="ratings-text">( 6 Reviews )</span>
                                            </div><!-- End .rating-container -->
                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                                <a href="#" class="btn-product btn-wishlist"><span>Add to
                                                        Wishlist</span></a>
                                            </div><!-- End .product-action -->
                                        </div><!-- End .product-footer -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->

                                <div class="product">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="assets/images/demos/demo-20/products/product-4.jpg"
                                                alt="Product image" class="product-image">
                                        </a>
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            by <a href="#">Karen M. McManus </a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">One of Us Is Lying</a></h3>
                                        <!-- End .product-title -->
                                        <div class="product-price">
                                            $17.99
                                        </div><!-- End .product-price -->

                                        <div class="product-footer">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 100%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <span class="ratings-text">( 10 Reviews )</span>
                                            </div><!-- End .rating-container -->
                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                                <a href="#" class="btn-product btn-wishlist"><span>Add to
                                                        Wishlist</span></a>
                                            </div><!-- End .product-action -->
                                        </div><!-- End .product-footer -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->

                                <div class="product">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="assets/images/demos/demo-20/products/product-5.jpg"
                                                alt="Product image" class="product-image">
                                        </a>
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            by <a href="#">Matt Haig</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">How to Stop Time</a></h3>
                                        <!-- End .product-title -->
                                        <div class="product-price">
                                            $11.68
                                        </div><!-- End .product-price -->

                                        <div class="product-footer">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 100%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <span class="ratings-text">( 10 Reviews )</span>
                                            </div><!-- End .rating-container -->
                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                                <a href="#" class="btn-product btn-wishlist"><span>Add to
                                                        Wishlist</span></a>
                                            </div><!-- End .product-action -->
                                        </div><!-- End .product-footer -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->

                                <div class="product">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="assets/images/demos/demo-20/products/product-6.jpg"
                                                alt="Product image" class="product-image">
                                        </a>
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            by <a href="#">John Gray</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a href="product.html">The Durrells of Corfu:
                                                Exclusive Edition</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            $24.48
                                        </div><!-- End .product-price -->

                                        <div class="product-footer">
                                            <div class="ratings-container">
                                                <div class="ratings">
                                                    <div class="ratings-val" style="width: 100%;"></div>
                                                    <!-- End .ratings-val -->
                                                </div><!-- End .ratings -->
                                                <span class="ratings-text">( 10 Reviews )</span>
                                            </div><!-- End .rating-container -->
                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                                <a href="#" class="btn-product btn-wishlist"><span>Add to
                                                        Wishlist</span></a>
                                            </div><!-- End .product-action -->
                                        </div><!-- End .product-footer -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .owl-carousel -->
                        </div><!-- End .container -->
                    </div><!-- End .block-wrapper -->
                </div><!-- End .block -->
            </div><!-- End .bg-light pt-4 pb-4 -->



            <div class="mb-5"></div><!-- End .mb-3 -->

            <div class="banner-group mb-2">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-lg-4">
                            <div class="banner banner-overlay">
                                <a href="#">
                                    <img src="assets/images/demos/demo-20/banners/banner-6.jpg" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle text-white"><a href="#">A Perfect Choice For Your
                                            Children</a></h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white"><a href="#">Children's <br>Bestselling Books</a>
                                    </h3><!-- End .banner-title -->
                                    <a href="#" class="btn btn-outline-white-3 banner-link">Discover Now<i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-4 -->

                        <div class="col-md-6 col-lg-4">
                            <div class="banner banner-overlay">
                                <a href="#">
                                    <img src="assets/images/demos/demo-20/banners/banner-7.jpg" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle text-white"><a href="#">Mental Health Awareness Week</a>
                                    </h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white"><a href="#">Self-Help For <br>Your Future.</a>
                                    </h3><!-- End .banner-title -->
                                    <a href="#" class="btn btn-outline-white-3 banner-link">Discover Now<i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-4 -->

                        <div class="col-md-6 col-lg-4">
                            <div class="banner banner-overlay">
                                <a href="#">
                                    <img src="assets/images/demos/demo-20/banners/banner-8.jpg" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle text-white"><a href="#">New York Times Bestsellers</a>
                                    </h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white"><a href="#">Bestselling Food <br>and Drink
                                            Books.</a></h3><!-- End .banner-title -->
                                    <a href="#" class="btn btn-outline-white-3 banner-link">Discover Now<i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-4 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .banner-group -->

            <div class="banner-group mb-2">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-lg-4">
                            <div class="banner banner-overlay">
                                <a href="#">
                                    <img src="assets/images/demos/demo-20/banners/banner-6.jpg" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle text-white"><a href="#">A Perfect Choice For Your
                                            Children</a></h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white"><a href="#">Children's <br>Bestselling Books</a>
                                    </h3><!-- End .banner-title -->
                                    <a href="#" class="btn btn-outline-white-3 banner-link">Discover Now<i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-4 -->

                        <div class="col-md-6 col-lg-4">
                            <div class="banner banner-overlay">
                                <a href="#">
                                    <img src="assets/images/demos/demo-20/banners/banner-7.jpg" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle text-white"><a href="#">Mental Health Awareness Week</a>
                                    </h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white"><a href="#">Self-Help For <br>Your Future.</a>
                                    </h3><!-- End .banner-title -->
                                    <a href="#" class="btn btn-outline-white-3 banner-link">Discover Now<i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-4 -->

                        <div class="col-md-6 col-lg-4">
                            <div class="banner banner-overlay">
                                <a href="#">
                                    <img src="assets/images/demos/demo-20/banners/banner-8.jpg" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle text-white"><a href="#">New York Times Bestsellers</a>
                                    </h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white"><a href="#">Bestselling Food <br>and Drink
                                            Books.</a></h3><!-- End .banner-title -->
                                    <a href="#" class="btn btn-outline-white-3 banner-link">Discover Now<i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-4 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .banner-group -->

            <div class="banner-group mb-2">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-lg-4">
                            <div class="banner banner-overlay">
                                <a href="#">
                                    <img src="assets/images/demos/demo-20/banners/banner-6.jpg" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle text-white"><a href="#">A Perfect Choice For Your
                                            Children</a></h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white"><a href="#">Children's <br>Bestselling Books</a>
                                    </h3><!-- End .banner-title -->
                                    <a href="#" class="btn btn-outline-white-3 banner-link">Discover Now<i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-4 -->

                        <div class="col-md-6 col-lg-4">
                            <div class="banner banner-overlay">
                                <a href="#">
                                    <img src="assets/images/demos/demo-20/banners/banner-7.jpg" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle text-white"><a href="#">Mental Health Awareness Week</a>
                                    </h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white"><a href="#">Self-Help For <br>Your Future.</a>
                                    </h3><!-- End .banner-title -->
                                    <a href="#" class="btn btn-outline-white-3 banner-link">Discover Now<i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-4 -->

                        <div class="col-md-6 col-lg-4">
                            <div class="banner banner-overlay">
                                <a href="#">
                                    <img src="assets/images/demos/demo-20/banners/banner-8.jpg" alt="Banner">
                                </a>

                                <div class="banner-content">
                                    <h4 class="banner-subtitle text-white"><a href="#">New York Times Bestsellers</a>
                                    </h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title text-white"><a href="#">Bestselling Food <br>and Drink
                                            Books.</a></h3><!-- End .banner-title -->
                                    <a href="#" class="btn btn-outline-white-3 banner-link">Discover Now<i
                                            class="icon-long-arrow-right"></i></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-4 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .banner-group -->

            <div class="mb-5"></div><!-- End .mb-5 -->
        </main><!-- End .main -->

        
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up text-success"></i></button>




    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin"
                                        role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab"
                                        aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                    aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email"
                                                name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password"
                                                name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6 mx-auto">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">

                                        <div class="form-group">
                                            <label for="register-username">Username*</label>
                                            <input type="text" class="form-control" id="register-username"
                                                name="register-username" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-email">Mobile Number*</label>
                                            <input type="number" class="form-control" id="register-mobile"
                                                name="register-mobile" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-email">Email address*</label>
                                            <input type="email" class="form-control" id="register-email"
                                                name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password*</label>
                                            <input type="password" class="form-control" id="register-password"
                                                name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6 mx-auto">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

    <%- include("../partials/user/footer.ejs") %>