<%- include("../partials/user/loginHeader.ejs") %>

<div class="container mt-5">
    <div id="signin-modal" class="form-box">
        <div class="form-tab">
            <ul class="nav nav-pills nav-fill" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" href="/logIn"  aria-selected="false">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="register-tab" data-toggle="tab" href="#" role="tab"
                        aria-controls="register" aria-selected="true"
                        style="background-color: transparent; color: #1CC0A0;">Register</a>
                </li>
            </ul>
            <div class="tab-content" id="tab-content-5">
                
                <div class="tab-pane fade show active" id="register" role="tabpanel" aria-labelledby="register-tab">
                    <form action="/register" method="post" id="register-form">
                        <p id="errormsg" class="text-center text-danger"><%if(typeof message != 'undefined'){%>
                            <%=message%>
                       <% } %></p>

                        <div class="form-group">
                            <label for="register-username">Username*</label>
                            <input type="text" class="form-control" id="register-username" name="name" oninput="removeErrorMessage()">
                            <div id="error1" class="error-message text-danger"></div>
                        </div><!-- End .form-group -->

                        <div class="form-group">
                            <label for="register-email">Mobile Number*</label>
                            <input type="number" class="form-control" id="register-mobile" name="mobile" oninput="removeErrorMessage()">
                            <div id="error3" class="error-message text-danger"></div>
                        </div><!-- End .form-group -->

                        <div class="form-group">
                            <label for="register-email">Email address*</label>
                            <input type="email" class="form-control" id="register-email" name="email" oninput="removeErrorMessage()">
                            <div id="error2" class="error-message text-danger"></div>
                        </div><!-- End .form-group -->

                        <div class="form-group">
                            <label for="register-password">Password*</label>
                            <input type="password" class="form-control" id="register-password" name="password" oninput="removeErrorMessage()">
                            <div id="error4" class="error-message text-danger"></div>
                        </div><!-- End .form-group -->
                        
                        <div class="form-group">
                            <label for="confirm-password">Confirm Password*</label>
                            <input type="password" class="form-control" id="confirm-password" name="confirmPassword" oninput="removeErrorMessage()">
                            <div id="error5" class="error-message text-danger"></div>
                        </div>

                        <div class="form-group mt-4">
                            <h6>Have a referral code?</h6>
                            <input type="text" class="form-control" id="register-referral" name="referralCode" placeholder="Enter referral code" oninput="removeErrorMessage()">
                            <div id="error6" class="error-message text-danger"></div>
                        </div>

                        <div class="form-footer">
                            <button type="submit" class="btn btn-outline-primary-2">
                                <span>SIGN UP</span>
                                <i class="icon-long-arrow-right"></i>
                            </button>
                        </div><!-- End .form-footer -->
                    </form>
                    <div class="form-choice">
                        <p class="text-center">or sign in with</p>
                        <div class="row">
                            <div class="col-sm-6 mx-auto">
                                <a href="/auth/google" class="btn btn-login btn-g">
                                    <i class="icon-google"></i>
                                    Login With Google
                                </a>
                            </div><!-- End .col-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .form-choice -->
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->
        </div><!-- End .form-tab -->
    </div><!-- End .form-box -->
</div><!-- End .container -->


<script>
    function removeErrorMessage(){
const errorMsg=document.getElementById("errormsg")
errorMsg.innerHTML='';
error1.innerHTML = '';
    error1.style.display = 'none';
    error2.innerHTML = '';
    error2.style.display = 'none';
    error3.innerHTML = '';
    error3.style.display = 'none';
    error4.innerHTML = '';
    error4.style.display = 'none';
    error5.innerHTML = '';
    error5.style.display = 'none';
    }


    const nameid = document.getElementById("register-username");
    const emailid = document.getElementById("register-email");
    const mobileid = document.getElementById("register-mobile");
    const passwordid = document.getElementById("register-password");
    const confirmPassword = document.getElementById("confirm-password");
    const error1 = document.getElementById("error1");
    const error2 = document.getElementById("error2");
    const error3 = document.getElementById("error3");
    const error4 = document.getElementById("error4");
    const error5 = document.getElementById("error5");
    const registerForm = document.getElementById("register-form");

    function nameCheck(e) {
        const nameVal = nameid.value;
        const namePattern = /^[A-Za-z/s]+$/;

        if (nameVal.trim() === "") {
            error1.style.display = "block";
            error1.innerHTML = "Enter a valid name"
        } else if (!namePattern.test(nameVal)) {
            error1.style.display = "block";
            error1.innerHTML = "Name can only contain alphabets and spaces"
        } else {
            error1.style.display = "none";
            error1.innerHTML = "";
        }
    }

    function emailCheck(e) {
        const emailVal = emailid.value;
        const emailPattern = /^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$/;

        if (!emailPattern.test(emailVal)) {
            error2.style.display = "block";
            error2.innerHTML = "Enter a valid email"
        } else {
            error2.style.display = "none";
            error2.innerHTML = "";
        }
    }

    function mobileCheck(e) {
        const mobileval = mobileid.value;

        if (mobileval.trim() === "") {
            error3.style.display = "block";
            error3.innerHTML = "Enter a valid phone number"
        } else if (mobileval.lenghth < 10 || mobileval.length > 10) {
            error3.style.display = "block"
            error3.innerHTML = "Mobile number should consists of 10 digits"
        } else {
            error3.style.display = "none";
            error3.innerHTML = "";
        }
    }

    function passwordCheck(e) {
        const passwordVal = passwordid.value;
        const alphabetic = /[a-zA-Z]/;
        const digit = /\d/;

        if (passwordVal.length < 8) {
            error4.style.display = "block";
            error4.innerHTML = "Should contain 8 characters"
        } else if (!alphabetic.test(passwordVal) || !digit.test(passwordVal)) {
            error4.style.display = "block"
            error4.innerHTML = "Password should contain both alphabetics and numericals"
        } else {
            error4.style.display = "none";
            error4.innerHTML = "";
        }
    }

    function confirmPasswordCheck(e) {
    const passwordVal = passwordid.value;
    const confirmPasswordVal = confirmPassword.value;

    if (confirmPasswordVal.trim() === "") {
        error5.style.display = "block";
        error5.innerHTML = "Please confirm your password";
    } else if (passwordVal !== confirmPasswordVal) {
        error5.style.display = "block";
        error5.innerHTML = "Passwords do not match";
    } else {
        error5.style.display = "none";
        error5.innerHTML = "";
    }
}

    document.addEventListener("DOMContentLoaded", () => {
        registerForm.addEventListener("submit", (e) => {
            nameCheck();
            emailCheck();
            mobileCheck();
            passwordCheck();
            confirmPasswordCheck();

            if (
                !nameid ||
                !emailid ||
                !mobileid ||
                !passwordid ||
                !error1 ||
                !error2 ||
                !error3 ||
                !error4 ||
                !error5 ||
                !registerForm
            ) {
                console.error("One or more elements not found");
            }

            if (
                error1.innerHTML ||
                error2.innerHTML ||
                error3.innerHTML ||
                error4.innerHTML ||
                error5.innerHTML
            ) {
                e.preventDefault();
            }

        })
    })

</script>

<!-- Plugins JS File -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- Main JS File -->
<script src="assets/js/main.js"></script>
<script src="assets/js/demos/demo-20.js"></script>
</body>

</html>